In [ ]:
# Import required libraries
import numpy as np
import pandas as pd
import hvplot.pandas
from pathlib import Path
from sklearn.linear_model import LinearRegression

In [65]:
# Read the sales data
file_path = Path("food-inspections.csv")
#data pulled from 
df_raw = pd.read_csv(file_path)

# Display sample data
df_raw.head()

,Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,City,State,Zip,...,Results,Violations,Latitude,Longitude,Location,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards
0,2352683,CHIPOTLE MEXICAN GRILL,CHIPOTLE MEXICAN GRILL,2670642.0,Restaurant,Risk 1 (High),1025 W ADDISON ST,CHICAGO,IL,60613.0,...,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.947118,-87.655381,"{'latitude': '-87.6553811622124', 'longitude':...",NaN,NaN,NaN,NaN,NaN
1,2352734,CHILI'S T-I,CHILI'S (T1-B14),34169.0,Restaurant,Risk 1 (High),11601 W TOUHY AVE,CHICAGO,IL,60666.0,...,Pass,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...,42.008536,-87.914428,"{'latitude': '-87.91442843927047', 'longitude'...",NaN,NaN,NaN,NaN,NaN
2,2352713,NICK'S FIRE GRILL STEAK & LEMONADE INC.,NICK'S FIRE GRILL STEAK & LEMONADE INC.,2699090.0,NaN,Risk 1 (High),2900 W 63RD ST,CHICAGO,IL,60629.0,...,Not Ready,NaN,41.779190,-87.695892,"{'latitude': '-87.69589237398256', 'longitude'...",NaN,NaN,NaN,NaN,NaN
3,2352701,TAQUERIA BLUE LINE INC.,NaN,2703436.0,Restaurant,Risk 1 (High),3401 W BELMONT AVE,CHICAGO,IL,60618.0,...,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E...",41.939168,-87.712546,"{'latitude': '-87.71254599117191', 'longitude'...",NaN,NaN,NaN,NaN,NaN
4,2352727,PORTAGE PARK DAY NURSERY,MOSAIC EARLY CHILDHOOD ACADEMY,2215815.0,Children's Services Facility,Risk 1 (High),5332-5334 W ADDISON ST,CHICAGO,IL,60641.0,...,Pass,NaN,41.946065,-87.760722,"{'latitude': '-87.76072227616888', 'longitude'...",NaN,NaN,NaN,NaN,NaN

In [66]:
#drop unecessary columns
df_cleaned = df_raw.drop(columns=['City','DBA Name','Inspection ID','Address','State','Location','Historical Wards 2003-2015','Zip Codes','Community Areas','Census Tracts','Wards','Latitude','Longitude'],axis=1)
df_cleaned.head()

,AKA Name,License #,Facility Type,Risk,Zip,Inspection Date,Inspection Type,Results,Violations
0,CHIPOTLE MEXICAN GRILL,2670642.0,Restaurant,Risk 1 (High),60613.0,2019-12-04T00:00:00.000,License Re-Inspection,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E..."
1,CHILI'S (T1-B14),34169.0,Restaurant,Risk 1 (High),60666.0,2019-12-04T00:00:00.000,Canvass,Pass,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...
2,NICK'S FIRE GRILL STEAK & LEMONADE INC.,2699090.0,NaN,Risk 1 (High),60629.0,2019-12-04T00:00:00.000,License,Not Ready,NaN
3,NaN,2703436.0,Restaurant,Risk 1 (High),60618.0,2019-12-04T00:00:00.000,License,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E..."
4,MOSAIC EARLY CHILDHOOD ACADEMY,2215815.0,Children's Services Facility,Risk 1 (High),60641.0,2019-12-04T00:00:00.000,Canvass,Pass,NaN

In [67]:
#renamning columns
df_cleaned = df_cleaned.rename(columns={ "AKA Name": "Name", "License #": "License_ID", "Facility Type": "Facility_Type", "Inspection Date": "Inspection_Date", "Inspection Type": "Inspection_Type"})
df_cleaned

,Name,License_ID,Facility_Type,Risk,Zip,Inspection_Date,Inspection_Type,Results,Violations
0,CHIPOTLE MEXICAN GRILL,2670642.0,Restaurant,Risk 1 (High),60613.0,2019-12-04T00:00:00.000,License Re-Inspection,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E..."
1,CHILI'S (T1-B14),34169.0,Restaurant,Risk 1 (High),60666.0,2019-12-04T00:00:00.000,Canvass,Pass,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...
2,NICK'S FIRE GRILL STEAK & LEMONADE INC.,2699090.0,NaN,Risk 1 (High),60629.0,2019-12-04T00:00:00.000,License,Not Ready,NaN
3,NaN,2703436.0,Restaurant,Risk 1 (High),60618.0,2019-12-04T00:00:00.000,License,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E..."
4,MOSAIC EARLY CHILDHOOD ACADEMY,2215815.0,Children's Services Facility,Risk 1 (High),60641.0,2019-12-04T00:00:00.000,Canvass,Pass,NaN
...,...,...,...,...,...,...,...,...,...
196820,Cafe 608,2013328.0,Restaurant,Risk 1 (High),60657.0,2010-01-04T00:00:00.000,License Re-Inspection,Pass,NaN
196821,TEMPO CAFE,80916.0,Restaurant,Risk 1 (High),60611.0,2010-01-04T00:00:00.000,Canvass,Fail,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...
196822,TROQUET,1992039.0,Restaurant,Risk 1 (High),60613.0,2010-01-04T00:00:00.000,License Re-Inspection,Pass,NaN
196823,mr.daniel's,1899292.0,Restaurant,Risk 1 (High),60634.0,2010-01-04T00:00:00.000,License Re-Inspection,Pass,NaN
196824,MICHAEL'S ON MAIN CAFE,2008948.0,Restaurant,Risk 1 (High),60631.0,2010-01-04T00:00:00.000,License,Fail,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...

In [68]:
#filter for resturants
df_cleaned = df_cleaned[df_cleaned['Facility_Type'] == 'Restaurant']
df_cleaned.head()

,Name,License_ID,Facility_Type,Risk,Zip,Inspection_Date,Inspection_Type,Results,Violations
0,CHIPOTLE MEXICAN GRILL,2670642.0,Restaurant,Risk 1 (High),60613.0,2019-12-04T00:00:00.000,License Re-Inspection,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E..."
1,CHILI'S (T1-B14),34169.0,Restaurant,Risk 1 (High),60666.0,2019-12-04T00:00:00.000,Canvass,Pass,10. ADEQUATE HANDWASHING SINKS PROPERLY SUPPLI...
3,NaN,2703436.0,Restaurant,Risk 1 (High),60618.0,2019-12-04T00:00:00.000,License,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E..."
5,AMARIT RESTAURANT,1801618.0,Restaurant,Risk 1 (High),60605.0,2019-12-04T00:00:00.000,Canvass Re-Inspection,Pass,NaN
6,CHIPOTLE MEXICAN GRILL,2670643.0,Restaurant,Risk 1 (High),60613.0,2019-12-04T00:00:00.000,License Re-Inspection,Pass w/ Conditions,NaN

In [69]:
#filter out for license inspections only
df_cleaned = df_cleaned[(df_cleaned['Inspection_Type'] == 'License') | (df_cleaned['Inspection_Type'] == 'License Re-Inspection')]
df_cleaned.head()

,Name,License_ID,Facility_Type,Risk,Zip,Inspection_Date,Inspection_Type,Results,Violations
0,CHIPOTLE MEXICAN GRILL,2670642.0,Restaurant,Risk 1 (High),60613.0,2019-12-04T00:00:00.000,License Re-Inspection,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E..."
3,NaN,2703436.0,Restaurant,Risk 1 (High),60618.0,2019-12-04T00:00:00.000,License,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E..."
6,CHIPOTLE MEXICAN GRILL,2670643.0,Restaurant,Risk 1 (High),60613.0,2019-12-04T00:00:00.000,License Re-Inspection,Pass w/ Conditions,NaN
12,SAME SAME,2689717.0,Restaurant,Risk 1 (High),60618.0,2019-12-03T00:00:00.000,License,Pass w/ Conditions,NaN
13,CHIPOTLE MEXICAN GRILL,2670643.0,Restaurant,Risk 1 (High),60613.0,2019-12-03T00:00:00.000,License,Fail,NaN

In [70]:
#drop facility type column
df_cleaned = df_cleaned.drop(columns=['Facility_Type'],axis=1)

In [71]:
#drop inspection type column
df_cleaned = df_cleaned.drop(columns=['Inspection_Type'],axis=1)

In [72]:
#drop empty violations rows
df_cleaned=df_cleaned.dropna()

In [73]:
#shrink date
df_cleaned['Inspection_Date'] = df_cleaned['Inspection_Date'].str[:4]

In [74]:
#set ID as index
df_cleaned=df_cleaned.set_index('Name')
df_cleaned.head()

,License_ID,Risk,Zip,Inspection_Date,Results,Violations
Name,,,,,,
CHIPOTLE MEXICAN GRILL,2670642.0,Risk 1 (High),60613.0,2019,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E..."
SUBWAY,2703766.0,Risk 1 (High),60661.0,2019,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E..."
SWEET SHOT COOKIES,2688916.0,Risk 2 (Medium),60647.0,2019,Pass,49. NON-FOOD/FOOD CONTACT SURFACES CLEAN - Com...
CHIPOTLE MEXICAN GRILL,2670642.0,Risk 1 (High),60613.0,2019,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E..."
SAME SAME,2689715.0,Risk 1 (High),60618.0,2019,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E..."

In [75]:
df_cleaned.to_csv('cleaned_data.csv')