In [ ]:
# Import required libraries
import numpy as np
import pandas as pd
import hvplot.pandas
from pathlib import Path
from sklearn.linear_model import LinearRegression

In [ ]:
# Read the sales data
file_path = Path("food-inspections.csv")
df_raw = pd.read_csv(file_path)

# Display sample data
df_raw.head()

In [ ]:
#drop unecessary columns
df_cleaned = df_raw.drop(columns=['City','DBA Name','Inspection ID','Address','State','Zip','Location','Historical Wards 2003-2015','Zip Codes','Community Areas','Census Tracts','Wards','Latitude','Longitude','License #'],axis=1)
df_cleaned.head()

In [ ]:
#renamning columns
df_cleaned = df_cleaned.rename(columns={ "AKA Name": "Name", "License #": "License_ID", "Facility Type": "Facility_Type", "Inspection Date": "Inspection_Date", "Inspection Type": "Inspection_Type"})

In [ ]:
#filter for resturants
df_cleaned = df_cleaned[df_cleaned['Facility_Type'] == 'Restaurant']
df_cleaned.head()

In [82]:
#filter out for license inspections only
df_cleaned = df_cleaned[df_cleaned['Inspection_Type'] == 'License']
df_cleaned.head()

,Risk,Inspection_Date,Inspection_Type,Results,Violations
Name,,,,,
SUBWAY,Risk 1 (High),2019-12-03,License,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E..."
CHIPOTLE MEXICAN GRILL,Risk 1 (High),2019-12-03,License,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E..."
SAME SAME,Risk 1 (High),2019-12-03,License,Pass w/ Conditions,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E..."
RPM ON THE WATER,Risk 1 (High),2019-12-03,License,Pass,39. CONTAMINATION PREVENTED DURING FOOD PREPAR...
THE HALAL GUYS,Risk 1 (High),2019-12-03,License,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E..."

In [ ]:
#drop facility type column
df_cleaned = df_cleaned.drop(columns=['Facility_Type'],axis=1)

In [83]:
#drop inspection type column
df_cleaned = df_cleaned.drop(columns=['Inspection_Type'],axis=1)

In [ ]:
#drop empty violations rows
df_cleaned=df_cleaned.dropna()

In [ ]:
#shrink date
df_cleaned['Inspection_Date'] = df_cleaned['Inspection_Date'].str[:10]

In [ ]:
#set ID as index
df_cleaned=df_cleaned.set_index('Name')
df_cleaned.head()

In [84]:
df_cleaned.to_csv('cleaned_data.csv')