In [24]:
#import dependencies
import sqlite3
from sqlite3 import Error
from pathlib import Path
from sqlalchemy import create_engine, inspect
import pandas as pd

In [25]:
#defining the database
conn = sqlite3.connect('restaurant4.sqlite')
#connect to database
c = conn.cursor()

In [28]:
#view the data and make it a df
df = pd.read_sql('''SELECT * FROM restaurants WHERE Results = "Fail"''',conn)

In [29]:
df

,Name,License_ID,Risk,zip,Inspection_Date,Results,Violations
0,CHIPOTLE MEXICAN GRILL,2670642.0,Risk 1 (High),60613.0,2019,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E..."
1,THE HALAL GUYS,2703491.0,Risk 1 (High),60601.0,2019,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E..."
2,CITLALIN GALLERY/THEATER,2334199.0,Risk 1 (High),60608.0,2019,Fail,"1. PERSON IN CHARGE PRESENT, DEMONSTRATES KNOW..."
3,FLIPPIN FLAVORS,2689671.0,Risk 1 (High),60643.0,2019,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E..."
4,TAKITO STREET,2658192.0,Risk 1 (High),60614.0,2019,Fail,"3. MANAGEMENT, FOOD EMPLOYEE AND CONDITIONAL E..."
...,...,...,...,...,...,...,...
4095,Delhi Darbar Kabob House,2013590.0,Risk 1 (High),60659.0,2010,Fail,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...
4096,GOLDEN CROWN RESTAURANT,2013539.0,Risk 1 (High),60639.0,2010,Fail,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...
4097,SUPER DOG'S SUBMARINES INC,2008759.0,Risk 2 (Medium),60643.0,2010,Fail,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...
4098,Dunkin Donuts,2013340.0,Risk 1 (High),60625.0,2010,Fail,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...
4099,MICHAEL'S ON MAIN CAFE,2008948.0,Risk 1 (High),60631.0,2010,Fail,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...

In [23]:
#pull out the year from inspection date column
df['Inspection_Date'] = df['Inspection_Date'].str[:4]
#group by year
df_grouped = df.groupby("Inspection_Date")["Results"].count()
df_grouped

Inspection_Date
2010    564
2011    494
2012    355
2013    339
2014    287
2015    303
2016    295
2017    374
2018    382
2019    303
Name: Results, dtype: int64